.rimg {
    height: 140px;
    width: 130px;
}
/* 
.name {
    color: royalblue;
}
*/

.email {
    color: purple;
    font-size: large;
    background-color: greenyellow;
    border: 1px solid green;
    padding: 10px;
}